html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    border: none;
    line-height: 1.6;
    color: #fff;
    background: url('VIS_pink_Blue1.PNG');
    background-size: cover;
    background-position: middle;
    background-repeat: no-repeat;
    padding-top: 0px;
    margin-top: 0px;
    opacity: 1;
    transition: opacity .8s ease-in-out;
}
#about {

    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}
