body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    border: none;
    line-height: 1.6;
    color: #fff;
    background: #333;
    padding-top: 0px;
    margin-top: 0px;
}

#about {
    background-image: url('header.jpg'); /* Replace with your image file */
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

#portfolio {
    background-image: url('b2.jpg'); /* Replace with your image file */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

#header {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgb(0, 0, 0));
    color: #fff;
    padding: 10px 0;
    line-height: .2;
    text-align: center;
}

h1 {
    font-size: 70px;
    padding: 0px;
}

h2 {
    font-size: 30px;
    padding: 0px;
}

nav {
    display: flex; /* Arrange buttons horizontally */
    justify-content: center; /* Center the buttons */
    gap: 20px; /* Space between buttons */
}

nav a {
    text-decoration: none; /* Remove default link underline */
}

nav img {
    width: 400px; /* Adjust image width as needed */
    height: auto; /* Maintain aspect ratio */
}

nav ul {
    list-style: none;
    padding: 20px;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 0 0px;
    margin: 0px;
}

.gallery {
    display: flex;
    justify-content: space-around;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: #fff;
}
